@model BuildCostEstimator.Models.Item

@{
    //string itemLevelStr = "N/A";
    //string levelReqStr = "None";
    
}


<tr>
    <!-- Display values-->
    <td>
        @Html.DisplayFor(model => model.CostInChaos)
    </td>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.BaseType)
    </td>
    <td>
        @Html.DisplayFor(model => model.Rarity)
    </td>
    @*<td>
        @Html.DisplayFor(model => model.PobItemId)
    </td>
    <td>

        @if (Model.ItemLevel != 0)
        {
            itemLevelStr = Model.ItemLevel.ToString();

        }
        else
        {
            itemLevelStr = "N/A";
        }

        @itemLevelStr
    </td>
    <td>
        @if (Model.LevelReq != 0)
        {
            levelReqStr = Model.LevelReq.ToString();

        }
        else
        {
            levelReqStr = "None";
        }

        @levelReqStr
    </td>*@
</tr>


